@model LaLibreria.Models.DctoLibros

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DctoLibros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInsert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInsert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddescuentosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddescuentosNavigation.CodDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdlibrosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdlibrosNavigation.Autor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IddctoLibros">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
